<div class="container">
  <div class="content-left">
    <h2>
      <span class="before-block">MY</span><span class="blocks">languages</span>
    </h2>
    <div class="about-languages">
      <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
    </div>
  </div>
  <div class="content-right">
    <div class="triangle"></div>
    <div class="row">
      <h2>JavaScript</h2>
      <p>Something about javascript here. Something about javascript    here.</p>
    </div>
    <div class="row">
      <h2>Python</h2>
      <p>Something about Python here. Something about Python here.</p>
    </div>
    <div class="row">
      <h2>Swift</h2>
      <p>Something about Swift here. Something about Swift here.</p>
    </div>
  </div>
</div>
