<div class="container">
  <div class="content-left">
    <div class="outer-div">
      <div class="inner-div-top">
        <i [@group1]="position" class="fa fa-css3 icon-left" aria-hidden="true"></i>
        <i [@group2]="position" class="fa fa-html5 icon-left" aria-hidden="true"></i>
        <i [@group3]="position" class="fa fa-git icon-left" aria-hidden="true"></i>
        <i [@group4]="position" class="fa fa-wordpress icon-left" aria-hidden="true"></i>
      </div>
      <div class="inner-div-bottom">
        <i [@group5]="position" class="fa fa-stack-overflow icon-left" aria-hidden="true"></i>
        <i [@group6]="position" class="fa fa-github-alt icon-left" aria-hidden="true"></i>
        <img [@group7]="position" class="icon-left" src="/assets/react.png" alt="">
        <img [@group8]="position" class="icon-left" src="/assets/swift.png" alt="">
      </div>
    </div>
    <h2>
      <span class="before-block">Languages</span><span class="blocks">+</span><span class="before-block">Frameworks</span>
    </h2>
    <div class="about-languages">
      <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
    </div>
  </div>
  <div class="content-right">
    <div class="boxes">
      <div *ngFor="let lang of languageArray" class="box" (click)="setActive(lang)">
        <i class="fa fa-check-circle-o icon-right"></i>
        <h4>{{lang}}</h4>
        <div *ngIf="languageArray[counter] == lang" class="triangle-down"></div>
      </div>
    </div>
    <div class="row lang-slides">
      <div class="inner-slide">
        <h2>{{lang}}</h2>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.</h4>
      </div>
      <div class="inner-slide">
        <div *ngFor="let desc of description" class="item">
          <h4>
            <div class="list-item">
              <i class="fa fa-check-circle-o icon-right"></i>
              <div class="content">{{desc}}</div>
            </div>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
