<div class="container">
    <div class="content-left">
    <app-icons></app-icons>
  </div>
  <div class="content-right">
    <div class="boxes">
      <div *ngFor="let lang of languageArray" class="box" (click)="setActive(lang)">
        <i class="fa fa-check-circle-o icon-right"></i>
        <h4>{{lang}}</h4>
        <div *ngIf="languageArray[counter] == lang" class="triangle-down"></div>
      </div>
    </div>
    <div class="row lang-slides">
      <div class="inner-slide">
        <h2>{{lang}}</h2>
        <h4>{{aboutLang}}</h4>
      </div>
      <div class="inner-slide">
        <div *ngFor="let desc of description" class="item">
          <h4>
            <div class="list-item">
              <i class="fa fa-check-circle-o icon-right"></i>
              <div class="content">{{desc}}</div>
            </div>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
