@font-face {
  font-family: delicious-heavy;
  src: url("/assets/Fonts/Delicious-Heavy.otf");
}

h1, h2 {
  font-family: delicious-heavy;
}

.container {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 33%;
}

.content-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #272f38;
}

.content-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}


.blocks {
  background-color: rgba(18, 235, 171, 1);
  color: #fff;
  -webkit-clip-path: polygon(100% 28%, 100% 100%, 0% 100%, 1% 17%, 20% 32%, 43% 27%, 52% 21%, 71% 33%);
  clip-path: polygon(100% 28%, 100% 100%, 0% 100%, 1% 17%, 20% 32%, 43% 27%, 52% 21%, 71% 33%);
  position: relative;
  padding: 0 .5rem;
}

.before-block {
  color: #fff;
  margin-left: 0;
  text-align: left;
}

.about-languages {
  color: rgba(255, 255, 255, .7);
  padding: 3rem;
}


.triangle {
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-top: 10vw solid transparent;
  border-bottom: 30vw solid transparent;
  border-left: 10vw solid #272f38;
}
