.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.links {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  flex-direction: column;
}

.links > * {
  display: inline-block;
  transition: color 700ms;
}

.links > *:hover {
  color: #fff;
}

.container {
  color: #fff;
  font-size: 1.25rem;
}

.container a {
  color: #fff;
  background-size: 300% 100%;
  background-image: linear-gradient(to right, transparent 50%, rgba(11, 118, 219, .9) 50%);
  background-position: left bottom;
  transition: background-position 800ms;
}

.container a:hover {
  cursor: pointer;
  background-position: right bottom;
}

i {
    color: #0b76db;
}
