<link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">

<div class="pf-container">
  <div class="name-div">
  <h1 class="blue ib">{{'{'}}</h1>
  <h1 class= "name ib">Rich Hanna</h1>
  <h1 class="blue ib">{{'}'}}</h1>
  <h3 class="title">Full Stack Developer</h3>
  <p>MEAN</p><p class="bar blue"> | </p><p>IOS</p><p class="bar blue"> | </p><p>Ruby</p><p class="bar blue"> | </p><p>Python</p>
  </div>
  <p>Welcome! To be brief - I want to thank you for the opportunity to be able to showcase some of the projects I have worked on. I have developed this portfolio using the MEAN stack. You will find links to my projects over to the right. Please submit the form below if you have any questions. Thank you!</p>

  <h3 class="tomato contact">Contact me</h3>
  <form class="" method="post">
    <div class="ui large form">
      <div class="two fields">
        <div class="field">
          <input placeholder="Name" type="text" name="name" [(ngModel)]="name" >
        </div>
        <div class="field">
          <input placeholder="Phone Number" type="text" name="phone" [(ngModel)]="phone">
        </div>
      </div>
      <div class="field">
        <input placeholder="Email" type="text" name="email" [(ngModel)]="email">
      </div>
      <textarea rows="3" placeholder="Type Your Message" name="message" [(ngModel)]="message"></textarea>
      <input type="submit" class="submit" value="Submit">
    </div>
  </form>

  <h2 class="white">Form Validation</h2>
  <div class="editor">
    <p class="purple">let</p><p class="blue"> newMessage</p><p> = {{'{'}}
      <div class="break"><p class="blue"> name:</p> &nbsp; "{{'{'}}<p class="blue"> name: &nbsp; {{name}},</p>&nbsp; <p class="blue">minlength:</p> 2,&nbsp; <p class="blue">required:</p> <p class="tomato">true</p> {{'}'}}",</div>

      <div class="break"><p class="blue"> phone:</p> &nbsp; "{{'{'}}<p class="blue"> number: &nbsp; {{phone}},</p>&nbsp; <p class="blue">minlength:</p> 10,&nbsp; <p class="blue">required:</p> <p class="tomato">false</p> {{'}'}}",</div>

      <div class="break"><p class="blue"> email:</p> &nbsp; "{{'{'}}<p class="blue"> email: &nbsp; {{email}},</p>&nbsp; <p class="blue">minlength:</p> 10,&nbsp; <p class="blue">required:</p> <p class="tomato">true</p> {{'}'}}",</div>

      <div class="break"><p class="blue"> message:</p> &nbsp; "{{'{'}}<p class="blue"> message: &nbsp; {{message}},</p>&nbsp; <p class="blue">minlength:</p> 10,&nbsp; <p class="blue">required:</p> <p class="tomato">true</p> {{'}'}}",</div>
    <p>{{'}'}}</p>
  </div>
</div>
