<div class="container">
  <div class="outer-div">
    <div class="inner-div-top">
      <i [@group1]="position" class="fa fa-css3 icon-left" aria-hidden="true"></i>
      <i [@group2]="position" class="fa fa-html5 icon-left" aria-hidden="true"></i>
      <i [@group3]="position" class="fa fa-git icon-left" aria-hidden="true"></i>
      <i [@group4]="position" class="fa fa-wordpress icon-left" aria-hidden="true"></i>
    </div>
    <div class="inner-div-bottom">
      <i [@group5]="position" class="fa fa-stack-overflow icon-left" aria-hidden="true"></i>
      <i [@group6]="position" class="fa fa-github-alt icon-left" aria-hidden="true"></i>
      <img [@group7]="position" class="icon-left" src="/assets/react.png" alt="">
      <img [@group8]="position" class="icon-left" src="/assets/swift.png" alt="">
    </div>
  </div>
  <h2>
    <span class="before-block">Languages</span><span class="blocks">+</span><span class="before-block">Frameworks</span>
  </h2>
  <div class="about-languages">
    <h5>I have so many different frameworks and languages that I have learned and enjoy. For instance, this portfolio was built using Angular 2 on the front end, MongoDB, Express and Mongoose on the Backend. But beyond just frameworks, I have also learned Git using Git Bash and Terminal, AWS and deployment with UBUNTU, Xcode for iOS and much more. Please feel free to check out the slider to the right for more info! </h5>
  </div>
</div>
