<div class="container">
  <div class="row">
    <div class="column">
      <div class="title"><h3>Klinefelter</h3></div>
    </div>
    <div class="column">
      <div class="title"><h3>Sarda</h3></div>
    </div>
    <div class="column">
      <div class="title"><h3>Dojstagram</h3></div>
    </div>
  </div>
  <div class="row-top">
    <h2>
      <span class="before-block">RECENT</span><span class="blocks">projects</span>
    </h2>
    <h4>These are just a few examples of some recent projects that I have completed. Click on each one to see the deployed project/github and to view which technologies were used.</h4>
  </div>
  <div class="mountains"></div>
</div>
