<div class="container">
  <div class="row">
      <div (mouseenter)="toggleProjInfo(this.column)" (mouseleave)="toggleProjInfo(column)" class="column">
        <div class="title">
          <h3>KLINEFELTER</h3>
        </div>
      </div>
    <div (mouseenter)="toggleProjInfo(column)" (mouseleave)="toggleProjInfo(column)" class="column">
        <div class="title">
          <h3>SARDA</h3>
        </div>
      </div>
    <div (mouseenter)="toggleProjInfo(column)" (mouseleave)="toggleProjInfo(column)" class="column">
        <div class="title">
          <h3>DOJSTAGRAM</h3>
        </div>
    </div>
  </div>
  <div [@projInfo]="projStatus" class="project-info"></div>
  <div class="row-top">
    <h2>
      <span class="before-block">RECENT</span><span class="blocks">projects</span>
    </h2>
    <h4>These are just a few examples of some recent projects that I have completed. Click on each one to see the deployed project/github and to view which technologies were used.</h4>
  </div>
  <div class="mountains"></div>
</div>
