/*Constant*/

@font-face {
  font-family: delicious;
  src: url("/assets/Fonts/Delicious-Roman.otf");
}
@font-face {
  font-family: delicious-heavy;
  src: url("/assets/Fonts/Delicious-Heavy.otf");
}


input {
  border: none;
  width: 80%;
  height: 20%;
  text-align: center;
  outline: none;
  color: #757575;
}

.blocks {
  background-color: #272f38;
  color: #fff;
  padding: 0 .5rem;
  margin-right: 0;
  -moz-clip-path: polygon(100% 28%, 100% 100%, 0% 100%, 1% 17%, 20% 32%, 43% 27%, 52% 21%, 71% 33%);
  -webkit-clip-path: polygon(100% 28%, 100% 100%, 0% 100%, 1% 17%, 20% 32%, 43% 27%, 52% 21%, 71% 33%);
  clip-path: polygon(100% 28%, 100% 100%, 0% 100%, 1% 17%, 20% 32%, 43% 27%, 52% 21%, 71% 33%);
  position: relative;
}

.after-block {
  color: #272f38;
  margin-left: 0;
  text-align: left;
}


.full-width-component {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  height: 100vh;
  background: linear-gradient(rgba(100, 100, 100, 0.6), transparent), url('/assets/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mobile-menu {
  display: flex;
  justify-content: center;
  align-content: center;
  position: fixed;
  top: 2%;
  right: 2%;
  height: auto;
  width: auto;
  color: #fff;
  z-index: 9999;
  padding: 1.8rem;
  font-family: delicious;
}

.mobile-menu:hover {
  cursor: pointer;
}

.mobile-menu::before {
  content: "";
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  background-color: rgba(18, 235, 171, 1);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.intro {
  width: 12rem;
  height: 4rem;
  background: rgba(39,47,56,1);
  color: #fff;
  border: none;
  box-shadow: 5rem .5rem 5rem #000;
  position: relative;
}

.headline {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  height: auto;
}

.tagLine, .title {
  background: #eee;
  margin: 1rem;
  padding: 0 5% 0 1%;
  color: #272f38;
}

.contact-div {
  position: relative;
  background-color: rgba(39,47,56,.7);
  height: 50vh;
  width: 40%;
  overflow: hidden;
  -webkit-clip-path: polygon(100% 0, 0 21%, 85% 100%);
  clip-path: polygon(100% 0, 0 21%, 85% 100%);
  text-align: center;
  color: #fff;
}

.contact-div-ff {
  position: relative;
  background-color: rgba(39,47,56,.7);
  height: 40vh;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.contact-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 18%;
  right: 10%;
  height: 50%;
  width: 60%;
}

.contact-form-ff, .contact-form-ff > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: .75rem;
}

.contact-form-ff h3 {
  margin-bottom: 0;
}

.go {
  text-align: center;
  height: 20%;
  width: 40%;
  background-color: #F58B79;
  border: none;
  background-size: 300% 100%;
  background-image: linear-gradient(to right, transparent 50%, rgba(39, 47, 56, .9) 50%);
  background-position: left bottom;
  transition: background-position 800ms;
  outline: #F58B79;
}

.go:hover {
  background-position: right bottom;
  box-shadow: 0 0 4rem #F58B79;
}

.contact-form > * {
  margin: .75rem auto;
}

.toggleSidebar {
  background-color: rgba(18, 235, 171, 1);
  font-family: delicious;
  height: 4rem;
  width: 12rem;
  border: none;
  font-size: 1.2rem;
  transition: transform 400ms;
  color: #272f38;
  box-shadow: 0 0 5rem #000;
  position: absolute;
  z-index: 9500;
}

.form input {
  width: 100%;
  height: 4rem;
  font-size: 1.75rem;
  transition: transform 700ms, box-shadow 700ms;
  margin: .5rem;
}

.form input:nth-child(5) {
  height: 8rem;
  overflow: hidden;
}

.form input > * {
  padding: 0;
  margin: 0;
}

.form input:hover {
  transform: scale(1.1,1.1);
}

.form input:focus {
  transform: scale(1.1,1.1);
  box-shadow: inset 0 0 1.2rem #F58B79;
}

.ng-invalid {
  box-shadow: none;
}

.ng-valid {
  box-shadow: inset 0 0 1.2rem rgba(18, 235, 171, 1);
}

.form input.ng-invalid.ng-touched {
  box-shadow: inset 0 0 1.2rem rgba(255, 0, 0, 1);
}

.form input.ng-valid {
  box-shadow: inset 0 0 1.2rem rgba(18, 235, 171, 1);
}

.backgroundColor {
  background-color: rgba(18, 235, 171, 1);
}

.form {
  box-shadow: none;
}

.modal-content i {
  font-size: 10rem;
  color: #0b76db;
  position: fixed;
  top: 50%;
}


.field {
  position: relative;
}

.field .fa {
  position: absolute;
  right: 5%;
  top: 30%;
  font-size: 2rem;
  color: rgba(18, 235, 171, 1);
}

.submit {
  background-color: rgba(18, 235, 171, 1);
  font-family: delicious;
  height: 4rem;
  width: 12rem;
  border: none;
  font-size: 1.2rem;
  transition: transform 400ms;
  color: #272f38;
  box-shadow: 0 0 5rem #000;
}

.submit:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
  box-shadow: 0 0 5rem rgba(18, 235, 171, 1);
}

.toggleSidebar:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
  box-shadow: 0 0 5rem rgba(18, 235, 171, 1);
}


.replay-intro {
  position: absolute;
  bottom: 5%;
  left: 5%;
  box-shadow: -5rem -.5rem 4rem #000;
}

.content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  margin-bottom: 0;
  margin-top: 1rem;
  position: relative;
}

.about-me {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  width: 20%;
  padding: 2rem;
  margin-bottom: .5rem;
}

.bio {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.triangle-left {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -9999;
  overflow: hidden;
  width: 0;
  height: 0;

}

.triangle-right {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -9999;
  overflow: hidden;
  width: 0;
  height: 0;
}

.quote {
  text-align: center;
  background-image: url('/assets/green-gradient.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #000;
  padding: 5% 15%;
}
.quote h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.pf-slider {
  width: 100%;
}

.black {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: #fff;
  padding: auto 10%;
}

.download-resume {
  height: 15vw;
  width: 15vw;
  color: #fff;
  background: radial-gradient(rgba(0, 160, 255, 1), rgba(0, 200, 255, 1), rgba(0, 255, 255, 1));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1rem solid rgba(0, 150, 255, .6);
}


.download-resume:hover {
  box-shadow: 0 0 6rem #fff;
  text-shadow: 0 0 1rem #fff;
  cursor: pointer;
}


/*Modal*/
.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  margin: 5% auto;
  padding: 5%;
  width: 80vw;
  height: 80vh;
  overflow: hidden;
}

.modal {
  position: fixed;
  z-index: 5;
  left: 0%;
  top: 0%;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
  z-index: 9500;
}

.sidebar-modal {
  position: fixed;
  z-index: 9000;
  left: 0%;
  top: 0%;
  width: 30vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}

.nav-item {
  width: 100%;
  height: 8%;
  margin: 1rem;
  font-family: delicious;
  text-align: left;
  border-bottom: .5px solid rgba(255,255,255,0.7);
}

.nav-item a {
  color: #fff;
  font-family: delicious;
}

@media only screen and (max-width: 370px){
  .headline {
    width: 100%;
  }

  .header-content {
    flex-direction: column;
  }

  .contact-div {
    width: 80%;
  }

  .menu {
    display: none;
  }

  .contact-form {
    top: 15%;
    right: 12%;
  }

  .toggleSidebar {
    bottom: 2%;
    right: 2%
  }

  .content {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }

  .black {
    height: 80vh;
    flex-direction: column;
    text-align: center;
  }

  .download-resume {
    width: 30vw;
    height: 30vw;
  }

  .resume-font h3 {
    font-size: .75rem;
  }

  .resume-font h3 {
    font-size: .9rem;
  }

  .arrow.left {
    display: none;
  }

  .download-resume {
    border: .75rem solid rgba(0, 150, 255, .6);
  }
}

@media only screen and (min-width: 371px){
  .menu {
    display: none;
  }

  .headline {
    width: 100%;
  }

  .contact-div {
    width: 80%;
  }

  .contact-form {
    top: 15%;
    right: 12%;
  }

  .toggleSidebar {
    bottom: 2%;
    right: 2%
  }

  .content {
    flex-direction: column;
  }

  .black {
    height: 80vh;
    flex-direction: column;
    text-align: center;
  }

  .download-resume {
    width: 30vw;
    height: 30vw;
  }

  .resume-font h3 {
    font-size: .8rem;
  }

  .resume-font h3 {
    font-size: 1rem;
  }

  .arrow.left {
    display: none;
  }
}

@media only screen and (min-width: 600px){
  .pf-container{
    flex-direction: column;

  }

  .headline {
    width: 75%;
    margin: 2rem 0 1.5rem 0;

  }

  .tagLine, .title {
    padding: 2%;
    margin: .75rem;
  }

  .content {
    flex-direction: row;
  }

  .toggleSidebar {
    bottom: 2%;
    right: 2%
  }

  .column {
  width: 30%;
  margin: 1%;
}

.about-me {
  width: 15%;
  height: 25%;
}

  .bio {
    margin-bottom: 2%;
  }

  .toggleSidebar {
    position: fixed;
    bottom: 5%;
    right: 5%;
  }

  .contact-div {
    height: 50vh;
    width: 48%;
  }

  .contact-form {
    top: 18%;
    right: 8%;
    height: 50%;
    width: 60%;
  }

  .go {
    height: 25%;
    width: 45%;
  }


  .sidebar-modal {
      width: 100vw;
  }

  .black {
    height: 80vh;
    flex-direction: column;
    text-align: center;
  }

  .download-resume {
    width: 30vw;
    height: 30vw;
  }

  .resume-font h3 {
    font-size: 1.5rem;
  }

  .arrow.left {
    display: none;
  }
}

@media only screen and (min-width: 900px){
  .mobile-menu {
    display: none;
  }

  .header-content {
    flex-direction: row;
  }

  .headline {
    width: 50%;
  }

  .toggleSidebar{
    right: 5%;
    top: 5vh;
  }

  .menu {
    position: relative;
    height: 15vw;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .item {
    color: #fff;
    width: 75px;
    height: 75px;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-family: delicious;
    position: relative;
    z-index: 555;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: auto 2rem;
  }

  .item-ff {
    width: auto;
    height: auto;
    padding: .5rem;
    margin: 1rem;
  }

  .item:hover {
    color: #fff;
    cursor: pointer;
  }

  .item::before {
    content: "";
    width: 100%;
    height: 100%;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    background-size: 300% 100%;
    background-image: linear-gradient(to right, transparent 50%, rgba(18, 235, 171, .9) 50%);
    background-position: left bottom;
    transition: background-position 800ms;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -55;
  }


  .item:hover::before {
    background-position: right bottom;
  }

  .column {
    margin: 1rem;
    padding: 5%;
  }

  .sidebar-modal {
      width: 30vw;
  }
  .black {
    height: 50vh;
    flex-direction: row;
  }

  .download-resume {
    height: 15vw;
    width: 15vw;
  }

  .resume-font h3 {
    font-size: 1.22rem;
  }

  .resume-font h1 {
    font-size: 2rem;
  }

  .contact-div {
    height: 50vh;
    width: 40%;
  }
}

@media only screen and (min-width: 1300px){
  .resume-font h3 {
    font-size: 1.8rem;
  }

  .contact-div {
    height: 50vh;
    width: 40%;
  }
}
