<div class="pf-container">
  <!-- *ngIf="introService.load == true" -->
  <div class="header">
    <div class="menu">
      <a href="#about"><div class="item">About</div></a>
      <a href="#languages"><div class="item">Languages</div></a>
      <a href="#projects"><div class="item">Projects</div></a>
      <a href="#experience"><div class="item">Experience</div></a>
      <a href="#algorithms"><div class="item">Algorithms</div></a>
      <button [@menu]="stickyState" [@contact]="contactState" class="toggleSidebar" (click)="toggleSidebar()">{{contact}}</button>
    </div>
    <div [@mobileMenu]="menuState" (click)="toggleMenu()" class="mobile-menu"><h4>{{menuText}}</h4></div>
    <div class="menu-shadow"></div>
    <div class="header-content">
      <div class="headline">
        <div class="title">
          <h1>RICH HANNA</h1>
        </div>
        <div class="tagLine">
          <h2>UI/UX DEVELOPER + LIFETIME LEARNER</h2>
        </div>
      </div>
      <div class="contact-div ff">
        <div class="ffcf contact-form">
          <h3>Need a developer? Let's Talk!</h3>
          <input type="text" name="firstName" class="name" [(ngModel)]="firstName"  required minlength="4" maxlength="24" placeholder="Your Name">
          <button class="go" (click)="toggleForm()">Go!</button>
        </div>
      </div>
      <div class="replay-intro">
        <button  type="button" name="button" class="intro" (click)="replayIntro()">REPLAY INTRO</button>
      </div>
    </div>
  </div>
  <div class="content" (mouseenter)="toggleTriangle()">
    <div class="about-me">
      <img class="ui small left floated circular image" src="/assets/rich_hanna.jpg" alt="Rich Hanna ">
    </div>
    <div id="about" class="bio">
      <h2>
        <span class="blocks">about</span><span class="after-block">ME <i class=" hand peace icon"></i></span>
      </h2>
      <p>I am first and foremost, a husband and a father. I have two beautful, young daughters and that by itself is a full time job. Beyond that, I am a Software Developer and I love to code! I decided a few years ago that my career in management wasn't the most fulfilling, so I decided to make a career change and it was one of the best decisions of my life. Fast forward two years and I have finished school and now I am looking for a SDE position with a great company! Feel free to check-out some of the samples, languages and algorithms that I have shared, and please feel free to reach out! </p>
    </div>
    <div class="full-width-component">
      <div class="column">
        <h3>2 Years Front-End Experience</h3>
        Using tools such as Wordpress, Hostgator FTP, Atom, Photoshop and Vanilla JS, I developed a total of 5 websites, ranging from a large 4000 member church with 15+ ministries - to an E-commerce site for a large international jewelry company.
      </div>
      <div class="column"><h3>Full Stack Knowledge Base</h3>
        Although my focus has been primarly front-end development, my knowledge filters do to the back-end and multiple technologies and MVC's. Such as, Nodejs, Django, Express, Flask, Core-Date, SMTP's, Mongoose, SQL, Sql-lite, MongoDB and more!
      </div>
      <div class="column"><h3>Adobe CC Products Experience</h3>
        With about two years of Photoshop experience I have learned how to create, edit and optimize static content for the web. I've also started to pick up Illustrator for the sake of utilizing SVG's and Vectors, as well as After Effects for videos with some cool effects!
      </div>
    </div>
    <div class="triangle-left" [@triangleLeft]="triState"></div>
    <div class="triangle-right" [@triangleRight]="triState"></div>
  </div>
  <div class="full-width-component quote">
    <h1>A great leader's courage to fulfill his vision comes from passion, not position.</h1>
    <h3> —John Maxwell</h3>
  </div>
  <div id="languages" *ngIf="loadLowerComponent == 'true'  || browser == 'ff'" class="full-width-component">
    <app-languages></app-languages>
  </div>
    <app-slider id="projects"></app-slider>
  <div *ngIf="loadLowerComponent == 'true' || browser == 'ff'" class="full-width-component black">
    <div id="experience" class="resume-font">
      <h1>IF YOU SEE A FIT...</h1>
    </div>
    <a href="/assets/richard.hanna.resume.docx" download><div class="download-resume resume-font"><h3>DOWNLOAD</h3></div></a>
    <div class="resume-font">
      <h1><i class="arrow left icon"></i>GET MY RESUME HERE!</h1>
    </div>
  </div>
  <app-footer *ngIf="loadLowerComponent == 'true' || browser == 'ff'"></app-footer>
</div>

<div [@menuModal]="menuState" class="modal">
  <div *ngIf="menuState == 'active'" class="modal-content">
    <div class="nav-item" (click)="toggleMenu()">
      <a href="#about"><h3>ABOUT</h3></a>
    </div>
    <div class="nav-item" (click)="toggleMenu()">
      <a href="#langauges"><h3>LANGUAGES</h3></a>
    </div>
    <div class="nav-item" (click)="toggleMenu()">
      <a href="#projects"><h3>PROJECTS</h3></a>
    </div>
    <div class="nav-item" (click)="toggleMenu()">
      <a href="#experience"><h3>EXPERIENCE</h3></a>
    </div>
    <div class="nav-item" (click)="toggleMenu()">
      <a href="#algorithms"><h3>ALGORITHMS</h3></a>
    </div>
  </div>
</div>

<div [@formModal]="formState" class="modal">
  <div class="modal-content">
    <form [@playSubmit]="submit" *ngIf="formState == 'active'" class="form" name="contactForm" #contactForm="ngForm"  method="post">
      <input type="text"name="firstName" [(ngModel)]="firstName" placeholder="{{firstName}}" required minlength="4" maxlength="24">
      <div *ngIf="lastName.length < 4 && contactForm.form.dirty" class="errors">Last Name Field Required{{lastName.length}}</div>
      <input type="text"[(ngModel)]="lastName" name="lastName" placeholder="Last Name" required minlength="4" maxlength="24" >
      <input type="text"name="phone" [(ngModel)]="phone" placeholder="Phone" required minlength="4" maxlength="24" >
      <input type="email"name="email" [(ngModel)]="email" placeholder="Email" required minlength="4" maxlength="24" >
      <input type="text"name="message" [(ngModel)]="message" placeholder="Message" required minlength="4" maxlength="24" >
      <input type="submit" *ngIf="contactForm.form.valid" value="Fire!" class="submit" [disabled]="!contactForm.form.valid" (click)="toggleSubmit()">
    </form>
    <i [@thumbUp]="thumbState"class="fa fa-thumbs-o-up fa-5x" aria-hidden="true"></i>
  </div>
</div>

<div [@contactModal]="contactState" class="sidebar-modal">
  <div class="modal-content contact-content">
    <app-sidebar></app-sidebar>
  </div>
</div>
