<div class="pf-container">
  <div class="header">
    <div class="contact">
      <div class="contact-right">
        <!-- <h5 class="ib">Contact | </h5>
        <a href="mailto:rhanna1461@hotmail.com"><i class=" mail icon"></i></a>
        <a href="tel:2537778162"><i class=" phone icon"></i></a>
        <a href="http://linkedin.com/rhanna1461"><i class=" linkedin icon"></i></a>
        <a href="http://github.com/codingninja84"><i class=" github icon"></i></a> -->
      </div>
    </div>
    <div class="menu">
      <a class="item">About</a>
      <a class="item">Languages</a>
      <a class="item">Projects</a>
      <a class="item">Experience</a>
      <a class="item">Algorithms</a>
      <button class="toggleSidebar">Contact</button>
    </div>
    <div (click)="toggleMenu()" class="mobile-menu"><h4>MENU</h4></div>
    <div class="menu-shadow"></div>
    <div class="header-content">
      <div class="headline">
        <div class="title">
          <h1>RICH HANNA</h1>
        </div>
        <div class="tagLine">
          <h2>UI/UX DEVELOPER + NATIVE OF SEATTLE</h2>
        </div>
      </div>
      <div class="contact-div">
        <div class="contact-form">
          <h3>Need a developer? Let's Talk!</h3>
          <input type="text" name="" value="" placeholder="Your Name">
          <button class="go">Go!</button>
        </div>
      </div>
      <div class="replay-intro">
        <button type="button" name="button" class="intro">REPLAY INTRO</button>
      </div>
    </div>
  </div>
  <div class="content" (mouseenter)="toggleTriangle()">
    <div class="about-me">
      <img class="ui small left floated circular image" src="/assets/rich_hanna.jpg" alt="Rich Hanna ">
    </div>
    <div class="bio">
      <h2>
        <span class="blocks">about</span><span class="after-block">ME <i class=" hand peace icon"></i></span>
      </h2>
      <p>I am first and foremost, a husband and a father. I have two beautful, young daughters and that by itself is a full time job. Beyond that, I am a Software Developer and I love to code! I decided a few years ago that my career in management wasn't the most fulfilling, so I decided to make a career change and it was one of the best decisions of my life. Fast forward two years and I have finished school and now I am looking for a SDE position with a great company! Feel free to checkout some of the samples, languages and algorithms that I have shared, and please feel free to reach out! </p>
    </div>
    <div class="full-width-component">
      <div class="column">
        <h3>2 Years Front-End Experience</h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</div>
      <div class="column"><h3>Full Stack Knowledge Base</h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</div>
      <div class="column"><h3>Adobe CC Products Experience</h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</div>
    </div>
    <div class="triangle-left" [@triangleLeft]="triState"></div>
    <div class="triangle-right" [@triangleRight]="triState"></div>
  </div>
  <div class="full-width-component quote">
    <h1>A great leader's courage to fulfill his vision comes from passion, not position.</h1>
    <h3> —John Maxwell</h3>
  </div>
  <div class="full-width-component">
    <app-languages></app-languages>
  </div>
    <app-slider></app-slider>
  <div class="full-width-component black">
    <h1>IF YOU SEE A FIT...</h1>
    <div class="download-resume"><h3>DOWNLOAD</h3></div>
    <h1><< GET MY RESUME HERE!</h1>
  </div>
  <app-languages></app-languages>
</div>

<div [@modal]="menuState" class="modal">
  <div class="modal-content">
    <div class="nav-item">
      <a href="#"><h3>ABOUT</h3></a>
    </div>
    <div class="nav-item">
      <a href="#"><h3>LANGUAGES</h3></a>
    </div>
    <div class="nav-item">
      <a href="#"><h3>PROJECTS</h3></a>
    </div>
    <div class="nav-item">
      <a href="#"><h3>EXPERIENCE</h3></a>
    </div>
    <div class="nav-item">
      <a href="#"><h3>ALGORITHMS</h3></a>
    </div>
  </div>

</div>
