.pf-container {
  display: flex;
}


app-intro {
  z-index: 9999;
}

app-main-component {
  z-index: 1;
}


//
/*small screen*/
@media only screen and (max-width: 900px){
  .pf-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

}

@media only screen and (min-width: 901px) {

    .pf-container {
      height: 100vh;
      width: 100vw;
    }

}
