<div class="full-width-component">
  <div class="row">
    <div class="column">
      <i class="fa fa-github" aria-hidden="true"></i>
      <i class="fa fa-linkedin" aria-hidden="true"></i>
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-youtube" aria-hidden="true"></i>
    </div>
    <div class="column">
      <div class="menu">
        <a class="item">About</a>
        <a class="item">Languages</a>
        <a class="item">Projects</a>
        <a class="item">Experience</a>
        <a class="item">Algorithms</a>
      </div>
    </div>
    <div class="column">
      <a href="mailto:rhanna1461@hotmail.com"><i class=" mail icon"></i><p>rhanna1461@hotmail.com</p></a>
      <a href="tel:2537778162"><i class=" phone icon"></i><p>253-777-8162</p></a></div>
  </div>
  <div class="row">
  </div>
</div>
