<div class="full-width-component">
  <div class="row">
    <div class="column">
      <i class="fa fa-github" aria-hidden="true">https://github.com/codingninja84</i>
      <i class="fa fa-linkedin" aria-hidden="true"><a href="https://www.linkedin.com/in/richard-hanna-30a23048/"></a></i>
      <i class="fa fa-facebook" aria-hidden="true"><a href="https://www.facebook.com/rich.hanna.7"></a></i>
      <i class="fa fa-youtube" aria-hidden="true"><a href="https://www.youtube.com/channel/UCjUkiPzQjeIk7OfVYkfGUTw"></a></i>
    </div>
    <div class="column">
      <div class="menu">
        <a href="#about" class="item">About</a>
        <a href="#languages" class="item">Languages</a>
        <a href="#projects" class="item">Projects</a>
        <a href="#experience" class="item">Experience</a>
        <a href="#algorithms" class="item">Algorithms</a>
      </div>
    </div>
    <div class="column">
      <a href="mailto:rhanna1461@hotmail.com"><i class=" mail icon"></i><p>rhanna1461@hotmail.com</p></a>
      <a href="tel:2537778162"><i class=" phone icon"></i><p>253-777-8162</p></a></div>
  </div>
</div>
